# Dependencies
node_modules/

# Production builds & installers
dist/

# Local cache & config
cache/
config.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS artifacts
Thumbs.db
.DS_Store

# Internal documentation
docs/

